*{
  background-color: #252525;
  color: lightgrey;
  font-family: Verdana, sans-serif;
}

a:hover{
  color: lightgrey;
}

.nav-item .nav-link, .nav-item .nav-link:hover, a{
  color: blueviolet;
}

.nav .nav-item .nav-link.active{
  background-color: indigo;
  color: lightgrey;
}

.footer {
  text-align: center;
  bottom: 0;
}

