body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  
}

*{
  background-color: #252525;
  color: lightgrey;
  font-family: Verdana, sans-serif;
}

a:hover{
  color: lightgrey;
  
}
a{
  color: blueviolet;
}

.nav-item .nav-link, .nav-item .nav-link:hover{
  color: blueviolet;
}

.nav .nav-item .nav-link.active{
  background-color: indigo;
  color: lightgrey;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  text-align: center;
  bottom: 0;
}

